<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665757843066-05lgkgl0h8acol2kgrngo5rcs57opcr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665757843066-05lgkgl0h8acol2kgrngo5rcs57opcr3</string>
	<key>API_KEY</key>
	<string>AIzaSyDUXkclOeLEgkcnMbYHoN9ggxdXE6cJuwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>665757843066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>harshit.jain.FirebaseIntegration</string>
	<key>PROJECT_ID</key>
	<string>fir-integration-b59e5</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-integration-b59e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665757843066:ios:514b0eb775420fbb0045c3</string>
</dict>
</plist>